output_mi_patient.csv
experiment_prepo
data
output_mi_patient.csv
experiment_prepo
data
input_model_pred
drugs1_preprosss_non_preprocess.csv
experimento1.xlsx
outs_visit
models_cluster/
experimento1.xlsx
results_pred
experimento1.xlsx
prepro_experiment_Patientkmeans_cat_threshold .88 most frequent_nonfiltered_aux.csv
prepro_experiment_Patientkmeans_CCS CODES_proc_nonfiltered_aux.csv
3_diagnosis_icd0codes_1.ipynb
prepro_experiment_Patientkmeans_CCS CODES_proc_nonfiltered_aux.csv
experiment_preporesults_prepro_nonfilteres_diagnosis_final.csv
experiment_preporesults_prepro_nonfilteres_diagnosis_final.csv
experimento1.xlsx
3_diagnosis_icd0codes_1.ipynb

input_drug/sin_codigo copy.csv
input_json
input_drug
input_json
input_model_pred
input_model_diagnosis_patient
experimento1.xlsx
input_json/config_mi_patient.json
input_model_patient_drugs/ATC3_Patient_non_filtered.csv
input_model_patient_drugs
experiment_preporesults_prepro_nonfilteres_diagnosis_final.csv
input_model_pred_drugs
wandb
results_pred
input_json

experiment_preporesults_prepro_nonfilteres_diagnosis_final.csv
